<% layout('layout/boilerplate') -%>
<p class="text-center lead display-5 my-1">Campground cluster map</p>
<div id="map" style="width: 100%; height: 500px" class="my-3"></div>
<div
  class="container my-5 border shadow-lg p-3 justify-content-center border-dark"
>
  <div class="display-5 lead text-center mb-5">
    <i class="bi bi-house-door"></i>
    <h1 class="display-3">All Campgrounds</h1>
    <a href="/campgrounds/new" class="text-decoration-none">Add campground</a>
  </div>

  <ul class="lead text-muted">
    <% if(campgrounds) {%> <%for(let campground of campgrounds){%>
    <div class="container">
      <div class="row my-3">
        <div class="col-4 align-self-center">
          <img
            src="<%= campground.images.length ? campground.images[0].path : 'https://res.cloudinary.com/dxsnvhloa/image/upload/v1675724425/YelpCamp/nxpmbqc2ubecyf3iqxls.jpg' %>"
            class="img-fluid rounded"
            alt=""
          />
        </div>
        <div class="col-8">
          <div class="card shadow-lg">
            <div class="card-body">
              <h5 class="card-title"><%= campground.title %></h5>
              <h6 class="card-subtitle mb-2 text-muted">
                <%= campground.location %>
              </h6>
              <p class="card-text"><%= campground.description %></p>
              <a
                href="/campgrounds/<%= campground._id%>"
                class="btn btn-primary"
                >View <%= campground.title %>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%}%> <% } %>
  </ul>
</div>
<script>
  const mapToken = "<%- process.env.MAPBOX_TOKEN %>";
</script>
<script src="/javascripts/clusterMap.js"></script>
