<link rel="stylesheet" href="/stylesheets/starRating.css" />
<% layout('layout/boilerplate') -%>
<div class="container my-5">
  <div class="row mb-3 justify-content-center">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div id="imageCarousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <% if(campground && campground.images.length){ %> <%
            campground.images.forEach((img,index)=>{ %>
            <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
              <img src="<%= img.path %>" class="d-block w-100" alt="" />
            </div>
            <%})%> <% } %>
          </div>
          <% if(campground && campground.images.length > 1) {%>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#imageCarousel"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#imageCarousel"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
          <% } %>
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <i class="bi bi-house-door"></i> <%= campground.title %>
          </h5>
          <p class="lead fst-italic">Owner: <%=campground.owner?.username %></p>
          <p class="card-text"><%= campground.description %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-muted"><%= campground.location %></li>
          <li class="list-group-item">
            Campground price: $<%= campground.price %>/night
          </li>

          <li class="list-group-item"><%= campground.description %></li>
        </ul>
        <% if( currentUser && campground.owner?.id === currentUser.id){ %>
        <div class="card-body">
          <a
            class="btn btn-warning"
            href="/campgrounds/<%= campground._id %>/edit"
            >Edit</a
          >
          <form
            class="d-inline"
            action="/campgrounds/<%= campground._id %>?_method=DELETE"
            method="POST"
          >
            <button class="btn btn-danger">Delete</button>
          </form>
        </div>

        <% } %>
      </div>
    </div>
    <% if(currentUser) {%>
    <div class="col-6 mx-auto">
      <div class="m-3 d-none d-md-block">
        <p class="lead">
          <i class="bi bi-geo-fill"></i><%= campground.location %>
        </p>
        <div
          id="map"
          style="width: 100%; height: 300px"
          class="my-3 rounded mx-auto d-none d-md-block"
        ></div>
      </div>
      <div class="m-3 d-none d-md-block mt-0">
        <p class="lead">Leave a Review</p>
        <form
          action="/campgrounds/<%= campground._id %>/reviews"
          method="POST"
          novalidate
          class="lead validate-form"
        >
          <div>
            <fieldset class="starability-basic">
              <input
                type="radio"
                id="no-rate"
                class="input-no-rate"
                name="review[rating]"
                value="0"
                checked
                aria-label="No rating."
              />
              <input
                type="radio"
                id="first-rate1"
                name="review[rating]"
                value="1"
              />
              <label for="first-rate1" title="Terrible">1 star</label>
              <input
                type="radio"
                id="first-rate2"
                name="review[rating]"
                value="2"
              />
              <label for="first-rate2" title="Not good">2 stars</label>
              <input
                type="radio"
                id="first-rate3"
                name="review[rating]"
                value="3"
              />
              <label for="first-rate3" title="Average">3 stars</label>
              <input
                type="radio"
                id="first-rate4"
                name="review[rating]"
                value="4"
              />
              <label for="first-rate4" title="Very good">4 stars</label>
              <input
                type="radio"
                id="first-rate5"
                name="review[rating]"
                value="5"
              />
              <label for="first-rate5" title="Amazing">5 stars</label>
            </fieldset>
          </div>
          <div class="has-validation">
            <label for="review" class="form-label" id="form-label"
              >Review</label
            >
            <textarea
              name="review[body]"
              class="form-control"
              id=""
              cols="30"
              rows="5"
              required
            ></textarea>
          </div>

          <button class="btn btn-success mt-3">Submit</button>
        </form>
      </div>
      <div class="lead d-none d-md-block">
        <div
          class="accordion border-dark border-2 border"
          id="accordionFlushExample"
        >
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne"
                aria-expanded="false"
                aria-controls="flush-collapseOne"
              >
                <span class="lead">Reviews</span>
              </button>
            </h2>
            <div
              id="flush-collapseOne"
              class="accordion-collapse collapse show"
              aria-labelledby="flush-headingOne"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body">
                <% if(campground && campground.reviews.length){%> <% for(let
                review of campground.reviews) { %>

                <div class="lead m-2 p-3 border fs-6 border-dark shadow">
                  <p
                    class="starability-result mb-1"
                    data-rating="<%= review.rating%>"
                  >
                    Rated:<%= review.rating%> stars
                  </p>
                  <p class="lead fst-italic"><%= review.owner.username %></p>
                  <p class="text-wrap"><%= review.body %></p>

                  <% if(currentUser && review.owner.id === currentUser.id){%>
                  <form
                    action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=DELETE"
                    method="post"
                  >
                    <button class="btn btn-danger btn-sm">Delete review</button>
                  </form>

                  <%}%>
                </div>
                <% } %> <% } else{ %>
                <p class="lead text-center display-5">
                  No reviews for <%= campground.title%>
                </p>
                <% } %> <%}%>
              </div>
            </div>
          </div>
        </div>

        <script>
          const campground = <%- JSON.stringify(campground) %>
          const mapToken = "<%- process.env.MAPBOX_TOKEN %>"
          const coordinates = "<%- JSON.stringify(campground.geometry.coordinates) %>"
          const popUpText = "<%- campground.description %>"
        </script>
        <script src="/javascripts/renderMap.js"></script>
      </div>
    </div>
  </div>
</div>
